<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h2 class="text-light primary py-3">PWD Management System</h2>


        <div class="d-flex">
            <button class="btn btn-success" (click)="add()" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add </button>&nbsp;
            <button class="btn btn-warning">Logout</button>
        </div>
    </div>
</nav>


<!-- Table -->
<table class="table mt-4"> 
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let object of inputArray; let i = index">
            <td>{{i+1}}</td>
            <!-- <td>{{list.id}}</td> -->
            <td>{{object.name}}</td>
            <td>{{object.email}}</td>
            <td>{{object.mobile}}</td>
            <td>{{object.city}}</td>
            
            <td>
                <button class="btn btn-info" (click)="edit(object)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="pwdDelete(object)">Delete</button>
            </td>
        </tr>

    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="background: brown;" class="modal-header">
          <h5 style="color: aliceblue; font-size:26px; margin-left: 62px; font-weight: 620"  class="modal-title" id="exampleModalLabel">PWD Management</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <input type="hidden" name="id" formControlName="id">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="name" formControlName="name"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
              <small *ngIf="formValue.get('name')?.invalid && formValue.get('name')?.touched" class="text-danger">Name is required</small>
            </div>
            <br>

            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small *ngIf="formValue.get('email')?.invalid && formValue.get('email')?.touched" class="text-danger">Email is required</small>

            </div>
            <br>

            <div class="form-group">
              <label for="exampleInputEmail1">Mobile Number</label>
              <input type="number" formControlName="mobile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter number">
              <small *ngIf="formValue.get('mobile')?.invalid && formValue.get('mobile')?.touched" class="text-danger">Mobile number is required</small>

            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputEmail1">City</label>
              <input type="name" formControlName="city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city">
              <small *ngIf="formValue.get('city')?.invalid && formValue.get('city')?.touched" class="text-danger"> City name is required</small>

            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showadd" type="button" (click)="addPwd()" class="btn btn-primary">Add</button>
          <button *ngIf="showupdate" type="button" (click)="pwdUpdate()" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>
